#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(223, 130, 69);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: rgb(0, 4, 216);
  font-size: 3rem;
  padding: .5rem;
  border: 1px solid rgb(66, 175, 33);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form input {
  padding: .8rem;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 230, 87);
  font-size: 1rem;
  border: none;
}


form input:focus {
  outline: 2px solid rgb(66, 175, 33)
}

form button {
  background-color: blue;
  border-radius: .8rem;
  padding: .6rem;
}


.items-container {
  display: flex;
  gap: 1rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
  margin: 3rem 0;
}

.btn-container button {
  background-color: blue;
  border-radius: .8rem;
  padding: .6rem;
}

.delete-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.item-container {
  height: 1rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .8rem;
  background-color: white;
  color: black;
}


img {
  margin-top: 2rem;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(31, 31, 32, 0.37);
}

.modal {
  background-color: white;
  color: black;
  padding: 3rem;
}

.modal div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.modal button {
  background-color: blue;
  padding: .3rem;
}

